.home-page {
  .first-page-view {
    display: flex;
    justify-content: space-between;
    .left-container {
      background: @accentColor;
      width: 50vw;
      height: 100vh;
      .main-nav {
        display: flex;
        flex-direction: column;

        a {
          font-family: @accentFont;
          font-size: 2.4rem;
          font-style: italic;
          text-decoration: none;
          color: #000;
        }
      }

      h1 {
        font-family: @mainFont;
        font-size: 6.4rem;
        font-weight: bold;
      }
      p {
        font-family: @accentFont;
        font-size: 2.4rem;
        font-style: italic;
      }
    }
    .hero-container {
      width: 50vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 99vh;
        width: auto;
      }
    }
  }
}
